//主色
$green-default: #00dc82;
$green-default-20: #ccedd8;
$green-default-8: #ebf8f0;
$green-light-2: #7fd29c;
$background: #fbfbf9;

//購物
$facsbook: #1877f2;
$shopee: #ea501f;
$whatsapp: #25d366;

//基本色
$dark: #141414;
$default: #333333;
$content: #555555;
$gray: #999999;
$gray-2: #e9e9e9;
$white: #ffffff;

//其他
$green-default-yellow: #8fc31f;
