@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Noto Sans TC", sans-serif, "Roboto", sans-serif;
}
// 文字變數
$title-h1: 28px;
$title-h2: 24px;
$title-h3: 20px;
$title-h4: 18px;
$title-h5: 16px;
$txt-p: 14px;
$txt-span: 14px;

h1 {
  font-size: $title-h1;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin: 20px 0;
  color: #008e53;
}
h2 {
  font-size: $title-h2;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 40px;
}
h3 {
  font-size: $title-h3;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 34px;
}
h4 {
  font-size: $title-h4;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 22px;
}
p {
  font-size: $txt-p;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
}
