.header-content {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 5px 0px 10px 0px rgb(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  background-color: #ffffee;

  // .content-nav {
  //   width: min(1900px, 94%);
  //   margin: auto;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   z-index: 10;

  //   .logo {
  //     width: 5%;
  //   }

  //   .wrap-nav {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;

  //     .nav-list {
  //       display: flex;
  //       flex-wrap: nowrap;

  //       li {
  //         position: relative;

  //         a {
  //           position: relative;
  //           z-index: 2;
  //           font-size: $title-h5;
  //           font-weight: 600;
  //           letter-spacing: 0.5px;
  //           white-space: nowrap;
  //           color: $default;
  //           padding: 30px 10px;
  //           transition: 0.3s ease-out;

  //           &:hover {
  //             color: $green-default;
  //           }
  //           &.router-link-active {
  //             color: $green-default;
  //           }
  //         }
  //       }
  //     }
  //     .nav-locale {
  //       select {
  //         padding: 0.4vw 1vw;
  //         border: 1px solid $gray-2;
  //         border-radius: 50px;
  //         -webkit-appearance: none;
  //         -moz-appearance: none;
  //         appearance: none;
  //       }
  //     }
  //   }
  // }
}
.header-nav {
  width: min(1900px, 94%);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.nav-list {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.nav-item {
  position: relative;

  .nav-route {
    position: relative;
    z-index: 2;
    padding: calc(10px + 0.4vw);

    .nav-name {
      font-size: calc(12px + 0.2vw);
      font-weight: 500;
      letter-spacing: 0.6px;
      white-space: nowrap;
      color: #333333;

      &:hover {
        color: #008a55;
      }
    }
  }

  &:hover {
    .nav-children-list {
      visibility: visible;
    }
  }
}

.nav-children-list {
  position: absolute;
  visibility: hidden;
  background-color: #ffffee;
  box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.2);
}
