.header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 5px 0px 10px 0px rgb(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;

  .content-nav {
    width: min(1900px, 94%);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    .wrap-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-list {
        display: flex;

        li {
          position: relative;

          a {
            position: relative;
            z-index: 2;
            font-size: $title-h5;
            font-weight: 600;
            letter-spacing: 1px;
            white-space: nowrap;
            color: $default;
            padding: 30px 10px;
            transition: 0.3s ease-out;

            &:hover {
              color: $green-default;
            }
          }
        }
      }
      .nav-locale {
        select {
          padding: 0.4vw 1vw;
          border: 1px solid $gray-2;
          border-radius: 50px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
    }
  }
}

// &.active {
//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 110%;
//     border-radius: 0 0 20px 20px;
//     background-color: $green-default;
//   }
// }
